@charset "UTF-8";

body {
    text-align: center;
}

button {
    padding: 10px 10px;
    margin: auto 5px;
    border-style: solid;
    border-radius: 50%;
}

button.rumba {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}

button.hole {
    width: 70px;
    height: 70px;
    background-color: deepskyblue;
}

#hole1 {
    position: relative;
    left: 20px;
    bottom: 0px;
}

#hole2 {
    position: relative;
    left: 180px;
    top: 0px;
}

#hole3 {
    position: relative;
    left: 0px;
    top: 40px;
}

#hole4 {
    position: relative;
    right: 180px;
    top: 0px;
}

.board {
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: azure;
    border: 5px outset lightgray;
    margin: auto;
}