button {
    padding: 10px 10px;
    margin: auto 5px;
    font-size: 16px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
}

button.rumba {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
}

button.hole {
    width: 70px;
    height: 70px;
    background-color: deepskyblue;
}

.board { /* TODO: fix width */
    padding: 10px;
    width: 500px;
    height: 150px;
    background-color: azure;
    border: 5px outset lightgray;
}